<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>

    <!--=====================================================================-->
    <!-- General Configuration-->
    <!-- Service -->
    <!--0: Error, 1: Warning, 2: Info, 3: Debug-->
    <!--0: Error, 1: Warning, 2: Info, 3: Debug-->
    <add key="log_level" value="3"/>
    <add key="log_path" value="D:\iAndon\Edge\Art"/>
    <!-- Rabbit setting-->
    <add key="RabbitMQ.Host" value="103.226.249.103:5672"/>
    <add key="RabbitMQ.VirtualHost" value="/"/>
    <add key="RabbitMQ.User" value="andon"/>
    <add key="RabbitMQ.Password" value="Art@Andon@2024"/>
    <!--Company - Queue Name-->
    <add key="CustomerID" value="Ariston"/>

    <add key="message_length" value="12"/>

    <!--Service working mode: SERVER | CLIENT -->
    <add key="WORKING_MODE" value="CLIENT"/>

    <!--=====================================================================-->
    <!-- Server Working Mode Configuration-->
    <!-- TCPServer -->
    <add key="ServerPort" value="1234"/>

    <!--Reconnect (Close and Open) interval - In minute-->
    <add key="reconnect_interval" value="15"/>

    <!--Check interval for No Data - In second-->
    <add key="request_interval" value="30"/>
    <add key="disconnect_interval" value="15"/>
    <add key="error_interval" value="15"/>

    <add key="ping_client" value="1"/>
    <add key="ping_interval" value="2"/>
    <add key="ping_message" value="OK"/>
    <add key="request_interval" value="2"/>
    <add key="send_interval" value="2"/>


    <!--=====================================================================-->
    <!-- Client Working Mode Configuration-->
    <add key="DeviceIP" value="10.19.70.123#2;10.19.70.120#1;10.19.70.122#1;10.19.70.121#1" />
    <!--<add key="DeviceIP" value="192.168.1.254" />-->
    <add key="DevicePort" value="1234"/>
    <add key="ATCommandPort" value="23"/>
    <!-- Số lượng Node trên mỗi Gateway -->
    <add key="DeviceNumberOnGateway" value="24"/>
    <!-- TCPServer setting-->
    <!-- Check Disconnect setting-->
    <!-- Mili second-->
    <add key="PING_DELAY" value="15"/>
    <!-- Second-->
    <add key="TIME_WAIT_CONNECT" value="500"/>
    <!-- Milisecond-->
    <add key="TIME_SLEEP_SEND" value="200"/>
    <!-- Second-->
    <add key="TIME_NOT_RECEIVE_DATA" value="10"/>
    <!-- Second-->
    <add key="RESET_AFTER_NOT_RECEIVE_DATA" value="180"/>
    <!-- Second-->
    <add key="SEND_RESET_NOT_RESPONSE" value="120"/>

	<!--FLAG-->
	<add key="INVERT_INPUT" value="1"/>


    <!--SYNC OTHER API-->
    <!--Có đồng bộ dữ liệu từ ứng dụng khác hay không-->
    <add key="is_process_sync" value="1" />
    <!--Thời gian đọc dữ liệu đồng bộ - In seconds-->
    <add key="sync_interval" value="5" />
    <!--URL đọc dữ liệu đồng bộ-->
    <add key="sync_url" value="http://10.19.29.5/ProductionMan2.API/ProductionPlan/getProductionInfo/" />
    <add key="sync_codes" value="1;2;4;11" />
    <!--Thời gian gần nhất xác định dữ liệu được ghi nhận - In seconds-->
    <add key="last_time_to_get_production" value="30" />


  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
